---
layout: default
title: ""
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
 

 <main>
    <h1 style="color: #47627D;">Upcoming Talks</h1>
    {% assign current_date = "now" | date: "%Y-%m-%d" %}
    {% for talk in site.talks %}
      {% assign talk_date = talk.date | date: "%Y-%m-%d" %}
      {% if talk_date >= current_date %}
        <div class="talk-item">
          <h2 onclick="toggleAbstract('upcoming-{{ talk_date }}-{{ talk.title | slugify }}')">{{ talk.title }} <span class="arrow">&#9660;</span> </h2>
          <p class="speaker"><strong>Speaker:</strong> {{ talk.speaker }}</p>
          <p class="date-room">
            <span class="date"><strong>Date:</strong> {{ talk.date | date: "%B %d, %Y" }} </span>
            <span class="room"><strong>Room:</strong> {{ talk.room }}</span>
          </p>
          <p class="time"><strong>Time:</strong> {{ talk.time }} </p>
          <div id="upcoming-{{ talk_date }}-{{ talk.title | slugify }}" class="abstract-content" style="display: none;">
            <p>{{ talk.abstract }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <h1 style="color: #47627D;">Past Talks</h1>
    {% for talk in site.talks %}
      {% assign talk_date = talk.date | date: "%Y-%m-%d" %}
      {% if talk_date < current_date %}
        <div class="talk-item">
          <h2 onclick="toggleAbstract('past-{{ talk_date }}-{{ talk.title | slugify }}')">{{ talk.title }} <span class="arrow">&#9660;</span> </h2>
          <p class="speaker"><strong>Speaker:</strong> {{ talk.speaker }}</p>
          <p class="date-room">
            <span class="date"><strong>Date:</strong> {{ talk.date | date: "%B %d, %Y" }}</span>
            <span class="room"><strong>Room:</strong> {{ talk.room }}</span>
          </p>
        <p class="time"><strong>Time:</strong> {{ talk.time }} </p>
          <div id="past-{{ talk_date }}-{{ talk.title | slugify }}" class="abstract-content" style="display: none;">
            <p>{{ talk.abstract }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </main>


  <script>
    function toggleAbstract(id) {
      var content = document.getElementById(id);
      if (content.style.display === "none") {
        content.style.display = "block";
      } else {
        content.style.display = "none";
      }
    }
  </script>
</body>

</html>
